<!DOCTYPE html>
<html>
<head>
	<title>	</title>
	<!-- head 在这里导入vue -->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div id='app'> 
	[[message]]
	<hr>
	<a V-bind:href='next'>点我点我！！</a>
	<hr>
	<a href="#" V-if='isLogin'>个人中心</a>
	<a href="#" V-else-if>登录页面</a>

	<hr>
	<!--
		==  数值的比较
		=== 数值及类型的比较
	-->
	<a href="#" v-if='level===1'>大师</a>
	<a href="#" v-else-if='level===2'>高徒</a>
	<a href="#" v-else-if='level===3'>低徒</a>
	<a href="#" style="text-decoration-line: none" v-else-if='level===4'>凡夫</a>
	<a href="#" v-else>俗子</a>

	<hr>
	<!-- 
	span  
	style='display: none' 存在但不显示 
	v-show  无论变量的值是false还是true都存在
	v-if 变量的值为false时不存在
	-->
	<span v-if='seen'>if</span>
	<span v-show='seen'>show</span>

	<hr>
	<ul>
		<!-- v-for='变量名 in 列表变量名' -->
		<li v-for='shop in shops'>[[shop]]</li>
		
		<br>
		<!-- v-for='(列表元素， 索引）in 列表变量' -->
		<li v-for='(shop, index) in shops'>NO.[[index+1]] [[shop]]</li>

		<br>
		<!-- v-for='变量名 in 字典名' 获取value -->
		<li v-for='value in object'>[[value]]</li>

		<br>
		<!-- v-for='(value, key) in 字典名' -->
		<li v-for='(value, key) in object'>[[key]]: [[value]]</li>
	</ul>

	<hr>
	
	<button v-on:click='counter+=1'>Add 1</button>
	<span>this is result [[counter]]</span>

	<button v-on:click='login'>注册</button>
	<!-- v-on: 简写@ -->
	<button @click='sayName("ali")'> sayName </button>


</div>

</body>
<script type="text/javascript">
	var app = new Vue({
		el: '#app',
		delimiters: ['[[', ']]'],	// delimiters 分隔符[开始的分隔符, 结束的分隔符]
		data: {
			message: 'hello',
			next: 'https://www.baidu.com',
			isLogin: true,
			level: 2,
			seen: true,
			shops: ['北京', '广州', '上海', '深圳'],
			object: {
      			title: 'How to do lists in Vue',
      			author: 'Jane Doe',
      			publishedAt: '2016-04-10'
    		},
			counter: 1,
		},
		// 函数定义
		methods: {
			login: function(){
				alert('登录中')
			},
			sayName: function(name){
				alert(name)
			}
		}
	})
</script>
</html>